API_URL=https://publicdomainname.com # Its the public URL of this server. It will makes imageUrl better
API_KEY=an-x-api-key-here
WEIGHTS_GG_COOKIE="next-auth.session-token=eyJhb..." # Here is the next-auth.session-token cookie pair from https://weights.gg. Get it by using DevTools