API_KEY=an-x-api-key-here
WEIGHTS_GG_COOKIE="eyJhb..." # Here is the next-auth.session-token cookie pair from https://weights.gg. Get it by using DevTools
FOOOCUS_ENABLED=true # Enables it if you want to speed up/don't use Weights.gg quota while no LoRA, remove this line to disable